#controls
  label
    input(type="checkbox", id="freedraw", name="freedraw")
    | Toggle free draw
  input(type="button", value="End Turn", disabled="disabled", class="endTurnBtn")
  input(type="button", value="Start Game", class="startGameBtn")
