script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/jquery-1.7.min.js")
script(type="text/javascript", src="/js/underscore-min-1.3.1.js")
script(type="text/javascript", src="/js/backbone-min-0.9.1.js")
script(type="text/javascript", src="/js/paper.js")
script(type="text/javascript", src="/js/models/chatModel.js")
script(type="text/javascript", src="/js/models/gameModel.js")
script(type="text/javascript", src="/js/models/playerModel.js")
script(type="text/javascript", src="/js/models/teamModel.js")
script(type="text/javascript", src="/js/models/gameStatusModel.js")
script(type="text/javascript", src="/js/views/boardView.js")
script(type="text/javascript", src="/js/views/chatView.js")
script(type="text/javascript", src="/js/views/gameControlsView.js")
script(type="text/javascript", src="/js/views/gameStatusView.js")
script(type="text/javascript", src="/js/views/gameIntroView.js")
script(type="text/javascript", src="/js/views/playerView.js")
script(type="text/javascript", src="/js/controllers/chatController.js")
script(type="text/javascript", src="/js/controllers/gameController.js")
script(type="text/javascript", src="/js/controllers/gameStatusController.js")
script(type="text/javascript", src="/js/client.js")
