#board
  #boardControlsContainer
    #boardControls
      a.color.black(href="#", title="Black", data-color="black")
      a.color.brown(href="#", title="Brown", data-color="brown")
      a.color.blue(href="#", title="Blue", data-color="blue")
      a.color.green(href="#", title="Green", data-color="green")
      a.color.red(href="#", title="Red", data-color="red")
      a.color.yellow(href="#", title="Yellow", data-color="yellow")
      //a.color.white(href="#", title="White", data-color="white")
      input#clearBoard(type="button", value="Clear")
      div#yourColor
        //- span.label Your color:
        .color.black
      div.wordToDraw
        span.wordToDrawLabel Your word:
        |  
        span.word
  #boardContainer
    #nextUpMessage
      h2
        | Next up...
        span.playerName Gordon
        | !
      .seconds 5
    canvas#gameBoard(width=760, height=600)
