#board
  #boardControlsContainer
    #boardControls
      input#clearBoard(type="button", value="Clear")
      div.wordToDraw
        span.wordToDrawLabel Your word:
        span.word
  #boardContainer
    canvas#gameBoard(width=760, height=600)
