#intro
  != partial('intro')
#main
  h1= title
  .board
    canvas#gameBoard(width=800, height=600)
    .boardControls
      input.clearBtn(type="button", value="Clear Board")
      input.debug(type="button", value="Debug")
      div.wordToDraw
        span.wordToDrawLabel Your word:
        span.word
  .sidebar
    .gameInfo
      p.status Game has not started.
      p.artist No one is currently drawing.
      p.timeLeft 0:00
    .playerInfo
      h1 Players
      ul.playerList
    p.controls
      input(type="button", value="End Turn", disabled="disabled", class="endTurnBtn")
      input(type="button", value="Start Game", class="startGameBtn")
    != partial('chat')
!= partial('scripts')
