#intro
  != partial('intro')
#main
  h1= title
  .board
    canvas#gameBoard(width=800, height=600)
    .boardControls
      input.clear(type="button", value="Clear Board")
  .sidebar
    .gameInfo
      p.status Game has not started
    .playerInfo
      h1 Players
      ul.playerList
    p.controls
      input(type="button", value="End Turn", disabled="disabled", class="endTurnBtn")
      input(type="button", value="Start Game", class="startGameBtn")
    != partial('chat')
!= partial('scripts')
