!!!
html
  head
    title= title
    //link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet/less', type='text/css', href='/css/style.less')
    script(type='text/javascript', src='/js/less-1.2.1.min.js')
body
  #changeNameModal
    != partial('intro')
  #gameStatus
    h1.title #{title}
    p.status
      | Game:
      span.value Not started
    p.artist
      | Artist:
      span.value No one.
    p.timeLeft
      | Time left:
      span.value 0 seconds
  #main
    != partial('controls')
    != partial('board')
    #playerInfo
      h3 Players
      ul.playerList
    != partial('chat')
  .clearfix
  != partial('scripts')
