!!!
html
  head
    title= title
    link(rel='stylesheet/css', type='text/css', href='/css/style.css')
    //link(rel='stylesheet/less', type='text/css', href='/css/style.less')
    //script(type='text/javascript', src='/js/less-1.2.1.min.js')
  body!= body
