@boardHeight: 600px;
@boardWidth: 760px;
#board {
  margin: 20px 0;
  min-height: 640px;
}

#boardControlsContainer {
  background-color: #333;
  float: left;
  margin: 0 20px 0 0;
  height: 600px;
  padding: 20px;
  width: 140px;

  .rounded-corners-all(10px);
}

#boardControls {
  background-color: #fff;
  height: 580px;
  padding: 20px 0 0;
}

#boardContainer {
  background-color: #ccc;
  float: left;
  padding: 20px;
  width: @boardWidth;
  height: @boardHeight;

  .rounded-corners-all(10px);
}

#gameBoard {
  background-color: #fff;
  width: @boardWidth;
  height: @boardHeight;

  .rounded-corners-all(10px);
}
