#chat {
  clear: both;
  text-align: left;

  .chat-container {
    border: 1px solid #000;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .chat-messages {
    margin: 0;
    padding: 10px;

    li {
      list-style: none;
      margin: 5px 0;
    }
  }
}
