#playerInfo {
  float: left;
  margin-left: 200px;
  text-align: left;
  width: 300px;
}

.playerList {
  list-style: none;
  margin: 0;
  padding: 0;

  .player {
    padding: 0 0 0 24px;
  }
}

.player.currUser {
  /*background: transparent url(/img/you.png) no-repeat left center;*/
  font-weight: bold;
}

.player.leader {
  background: transparent url(/img/leader.png) no-repeat left center;
}
