body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: #00B7FF;
}

#main {
  margin: 0 auto;
  width: 1000px;
}

#intro, #intro .overlay, #intro .intro-container {
  display: none; /* TODO: remove this. */
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;
}

#intro {
  .overlay {
    background-color: #000;
    z-index: 0;

    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5
  }

  .intro-container {
    z-index: 5;
  }

  .content {
    background-color: #fff;
    border: 1px solid #000;
    margin: 200px auto;
    padding: 20px;
    width: 600px;

    p {
      margin: 5px 0;
    }
  }
}

.wordToDraw {
  display: none;
  float: left;
  padding-left: 20px;
}

#sidebar {
  text-align: left;
  width: 180px;

  .gameInfo {
    display: none;
  }
}

.player.currUser {
  font-weight: bold;
}
.player.leader {
  color: #0c0;
}

#controls {
  border: 1px solid #000;
  clear: both;
  display: none;
  margin-top: 20px;
  padding: 20px;

  input {
    margin-left: 20px;
  }
}

@import "board.less";
@import "chat.less";
