body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#main {
  width: 1000px;
}

#intro, #intro .overlay, #intro .intro-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;
}

#intro .overlay {
  background-color: #000;
  z-index: 0;

  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5
}

#intro .intro-container {
  z-index: 5;
}

#intro .content {
  background-color: #fff;
  border: 1px solid #000;
  margin: 200px auto;
  padding: 20px;
  width: 600px;
}

#intro .content p {
  margin: 5px 0;
}

.board {
  float: left;
  width: 800px;
}

#gameBoard {
  border: 1px solid #000;
  width: 800px;
  height: 600px;
}

.sidebar {
  float: right;
  width: 180px;
}

.sidebar .controls {
  display: none;
}

.player.currUser {
  color: #f00;
}

.chat {
  border: 1px solid #000;
  height: 400px;
  margin: 0;
  padding: 0;
}

.chat li {
  list-style: none;
}
